:root{
    --bordoNavBar: rgba(167, 2, 2, 0.788);
    --verdeMenta:  rgb(152,255,179);
    --azulMarino:  rgb(25, 25, 112);
    --azulPastel:  rgb(173, 216, 230);
    --azulOscuro:  rgb(135, 206, 235);
    --verdeAdobe:  #56CCB3;
}
